.collapse-content {
  position: relative;
  & .collapse-content__button {
    @extend .btn, .btn-info;
  }

  & .collapse-content__switcher {
    margin-bottom: 10px;
  }

  & .collapse-content__content {
    @include transition(all .5s);
    height: auto;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 100500;

    &_collapsed {
      height: 0;
    }
  }
}
